@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #833cf6;
  --background-light: #f7f5f8;
  --background-dark: #171022;
  --surface-light: #ffffff;
  --surface-dark: #2d243a;
}

body {
  @apply font-display text-[#130d1c] dark:text-white transition-colors duration-200 bg-background-light dark:bg-background-dark;
}

@layer base {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .material-symbols-outlined.fill {
    font-variation-settings: 'FILL' 1;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gallery-scroll::-webkit-scrollbar {
  height: 6px;
}
.gallery-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.gallery-scroll::-webkit-scrollbar-thumb {
  background-color: #d8cee8;
  border-radius: 20px;
}
